@page
@model animalFinder.Pages.ConfidentialModel
@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>Введено в действие 08.06.2020 г</p>
<p>Эта политика описывает, как ФИО (Animal Finder) обрабатывает и защищает персональные данные пользователей приложения.</p>
<p>Политика применяется как к зарегистрированным, так и к незарегистрированным пользователям. Политика применяется независимо от устройства, и независимо от канала связи, по которому вы обращаетесь.</p>
<p>Перед использованием приложения и основанного на нем сервиса, пожалуйста, ознакомьтесь с условиями настоящей Политики конфиденциальности.</p>
<p>1. Общие положения</p>
<p>1.1 Используемые в настоящем политике слова и выражения имеют следующие значения:</p>
<p>1.1.1 <strong>Персональные данные</strong> – любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).</p>
<p>1.1.2 <strong>Обработка персональных данных</strong> – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>
<p>1.1.3 <strong>Пользователь </strong> – дееспособное физическое лицо старше 18 лет, принявшее данную политику в собственном интересе или чужом интересе в соответствии с требованиями действующего законодательства и настоящей политики конфиденциальности.</p>
<p>1.2 Используя Приложение и основанный на нем Сервис, Вы соглашаетесь с тем, что Вы ознакомились с условиями настоящей Политики конфиденциальности в полном объеме до начала использования Приложения и основанного на нем Сервиса.</p>
<p>1.3 Использование Вами Приложения и основанного на нем Сервиса в любой форме означает, что Вы принимаете все условия настоящей Политики конфиденциальности в полном объеме без каких-либо изъятий и ограничений с Вашей стороны.</p>
<p>1.4 Принимая условия настоящей Политики, Пользователь выражает свое согласие на обработку Animal Finder данных о Пользователе в целях, предусмотренных настоящей Политикой.</p>
<p>1.5 Политика конфиденциальности, а также любая из её частей, могут быть изменены Animal Finder без какого-либо специального уведомления пользователя и без выплаты какой-либо компенсации в связи с этим. Новая редакция Политики конфиденциальности вступает в силу с момента ее размещения на сайте Animal Finder, размещенном в домене по адресу animal-finder.online, если иное не предусмотрено новой редакцией Политики конфиденциальности.</p>
<p>2. Информация, которую получает и обрабатывает Animal Finder</p>
<p>
    2.1 Персональная информация, предоставляемая Пользователем при регистрации и иная персональная информация, доступ к которой Пользователь предоставляет Animal Finder в процессе использования Приложения и основанного на нем Сервиса.
    К персональной информации, полученной таким образом, могут относиться, в частности, адрес электронной почты Пользователя.
    Запрещается предоставление Пользователем персональных данных третьих лиц без полученного разрешения на распространение, за исключением тех случаев, когда персональные данные третьих лиц были получены самим Пользователем из общедоступных источников информации.
</p>
<p>2.2 Технические данные, автоматически передаваемые Приложением и основанным на нем Сервисом в процессе использования их Пользователем, в т.ч. IP-адрес, индивидуальный сетевой номер устройства (MAC-адрес, ID устройства), электронный серийный номер (IMEI, MEID), данные из cookies, информация о браузере, операционной системе, времени доступа, сведения о местоположении и перемещении устройства Пользователя.</p>
<p>2.3 Данные, дополнительно предоставляемые Пользователями по запросу  Animal Finder в целях выполнения обязательств Animal Finder перед Пользователями в отношении использования Приложения.</p>
<p>2.4 Иная информация о Пользователях, сбор и/или обработка которой установлены соглашением об использовании Приложения и основанного на нем Сервиса.</p>
<p>3. Цели сбора и обработки информации Animal Finder</p>
<p>3.1 Предоставление Пользователю услуг с использованием Приложения и основанного на нем Сервиса.</p>
<p>3.2 Обеспечение стабильной работы и безопасности Приложения, улучшать пользовательский опыт, качество услуг.</p>
<p>3.3 Выполнения маркетинговых задач, проведения статистических и иных исследований на основе обезличенных данных.</p>
<p>3.4 Реагирования на запросы Пользователя в службу поддержки.</p>
<p>3.5 Выполнение обязанностей, предусмотренные законодательством.</p>
<p>3.6 Идентификации стороны в рамках договоров между Пользователем и Animal Finder.</p>
<p>3.7 Animal Finder осуществляет сбор и обработку только той информации о Пользователях, в т.ч. их персональных данных, которая необходима для выполнения обязательств Animal Finder по предоставлению доступа к Приложению и основанного на нем Сервиса.</p>
<p>3.8. При необходимости использовать персональную информацию о Пользователе в целях, не предусмотренных настоящей Политикой, Animal Finder запрашивает согласие Пользователя на такие действия.</p>
<p>4. Обработка информации о Пользователях</p>
<p>4.1 Персональная информация о Пользователях хранится в соответствии с действующим законодательством.</p>
<p>4.2 Персональная информация о Пользователях не передается третьим лицам, за исключением таких случаев как:</p>
<p>4.2.1 Нарушение законов Российской Федерации;</p>
<p>4.2.2 В целях обеспечения возможности защиты прав и законных интересов Animal Finder, когда Пользователь нарушает условия соглашений об использовании Приложения и основанного на нем Сервиса;</p>
<p>4.3 Пользователь настоящим уведомлен и соглашается, что Animal Finder может получать персональные данные третьих лиц, которые предоставляются Пользователем при использовании Приложения и основанного на нем Сервиса, при условии, что Пользователь гарантирует наличие согласия третьих лиц, данные о которых предоставляются Пользователем на обработку Animal Finder, в целях, предусмотренных настоящей Политикой.</p>
<p>4.4 Пользователь настоящим уведомлен и соглашается, что при использовании Приложения и основанного на нем Сервиса Animal Finder может получать данные об установленных на мобильном устройстве Пользователя приложениях, и использовать их для реализации отдельных функций Приложения и/или основанного на нем Сервиса.</p>
<p>5. Меры по защите конфиденциальной информации</p>
<p>5.1 Для защиты персональных данных Пользователя Animal Finder руководствуется Федеральным законом «Об информации, информационных технологиях и о защите информации» от 27.07.2006 г. № 152-ФЗ. К этим мерам относятся, в частности, внутренняя проверка процессов сбора, хранения и обработки данных и мер безопасности, включая соответствующее шифрование, хеширование и меры по обеспечению физической безопасности данных для предотвращения неавторизованного доступа к системам, в которых хранится персональная информация.</p>
<p>5.2 При обработке персональных данных Пользователей Администрация руководствуется Федеральным законом «О персональных данных» от 27.07.2006 г. № 152-ФЗ.</p>
<p>6. Заключительные положения</p>
<p>6.1 Настоящая Политика, отношения между Пользователем и Animal Finder, возникающие в связи с применением настоящей Политики, а также вопросы, не урегулированные настоящей Политикой, регулируются действующим законодательством Российской Федерации.</p>
<p>6.2 Пользователь имеет право направлять Animal Finder запросы, предложения или вопросы, касающиеся настоящей Политики по адресу: animal.finder.contact@gmail.com.</p>
<p>6.3 Пользователю рекомендуется периодически проверять и ознакамливаться с действующей редакцией Политики размещенной на сайте Animal Finder и доступной в сети Интернет по адресу: https://animal-finder.online/confidential.</p>
<p>7. Реквизиты Animal Finder</p>
<p>Тут должны быть реквизиты</p>